@model SistemaJogoMVC.Models.Personagem

<h2>Personagem</h2>

<form asp-action="Criar">
    <label>Nome:</label>
    <input type="text" name="nomeConstrutor" class="form-control">

    <label>Nivel:</label>
    <input type="number" name="nivelConstrutor" class="form-control" step="0.01"> @*Controla casas decimais step*@

    <label>Tipo:</label>
    <select name="tipoConstrutor" class="form-control">
        <option value="Guerreiro">Guerreiro</option>
        <option value="Mago">Mago</option>
    </select>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>