@model SistemaAnimalMVC.Models.Animal

<h2>Cadastrar Funcionario</h2>

<form asp-action="Criar">
    <label>Nome:</label>
    <input type="text" name="nomeConstrutor" class="form-control">


    <label>Tipo:</label>
    <select name="nomeConstrutor" class="form-control">
        <option value="Elefante">Elefante</option>
        <option value="Leao">Leao</option>
    </select>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>