@model SistemaFuncionarioMVC.Models.Funcionario

<h2>Cadastrar Funcionario</h2>

<form asp-action="Criar">
    <label>Nome:</label>
    <input type="text" name="NomeConstrutor" class="form-control">

    <label>Salario Base</label>
    <input type="number" name="SalarioBaseConstrutor" class="form-control" step="0.01"> @*Controla casas decimais step*@

    <label>Cargo:</label>
    <select name="CargoConstrutor" class="form-control">
        <option value="Gerente">Gerente</option>
        <option value="Vendedor">Vendedor</option>
    </select>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>