@model List<SistemaJogoMVC.Models.Personagem>

<h2>Personagem</h2>

<a asp-action="Criar" class="btn btn-primary">Novo Personagem</a>

<table class="table mt-3">
    <tr>
        <th>Nome:</th>
        <th>Nivel:</th>
        <th>Tipo: </th>
        <th>Acoes</th>
    </tr>

    @foreach(var personagem in Model)
    {
        <tr>
            <td>@personagem.Nome</td>
            <td>@personagem.Nivel</td> 
            <td>@personagem.Tipo</td>
            <td>
                <a asp-action="Deletar" asp-route-id="@personagem.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
    }
</table> 